body {
    background-color: black;
}
h1 {
    background-color: blue;
    color: white;
}

.font-red {
    color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

#unique {
    border: 5px solid black;
}